// Variables

// Main color
$primary-color: #fdfdfa;

// Anchor color
$secondary-color: #1B1717;

// Font color
$font-color: #810000;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $primary-color;
$intro-text-color: $font-color;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $font-color;
